.slideshow {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75vh;
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transform: scale(1);
  transition: opacity 1.5s ease, transform 10s ease;
}

.slide.active {
  opacity: 1;
  transform: scale(1.1); /* Zoom-in */
  z-index: 1;
}
